$color-dark-cyan: hsl(158, 36%, 37%);
$color-cream: #f2ebe3;
$color-dark-blue: #1c232b;
$color-grayish-blue: #6c7289;
$color-White: #ffffff;
$color-typography: #222;

$font-mon: 'Monsterrati', sans-serif;
$font-fra: 'Fraunces', serif;